<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Student</title>
</head>

<body>
		
		<p class="container">Save Student</p>
	
		<form action="#" th:action="@{/student/save}"
						 th:object="${student}" method="POST">
						 
			<input type="hidden" th:field="*{am}" />
			
			<input type="text" th:field="*{id}"
					class="form-control mb-4 col-4" placeholder="id">	
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">	
					
			
			
			<input type="text" th:field="*{semester}"
					class="form-control mb-4 col-4" placeholder="Semester">		
					
					
			<input type="text" th:field="*{finalgrade}"
				class="form-control mb-4 col-4" placeholder="finalgrade">
				
			<input type="text" th:field="*{projectgrade}"
				class="form-control mb-4 col-4" placeholder="projectgrade">
				
			<input type="text" th:field="*{examgrade}"
				class="form-control mb-4 col-4" placeholder="examgrade">
					
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/student/list}">Back to Student List</a>
		<br><a th:href="@{/hello}">Back to Menu</a>
		
	</div>
</body>

</html>